<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeBook</title>
</head>
<body>
    Befor
    <br>
    <%- include("../partiels/header.ejs") %> 
    <%- include("../partiels/errorMessage.ejs") %>
    <%- body %> 
    <br>
    After
</body>
</html>